<h1>All Questions</h1>

<div class="question_list"
  <ul>
    <% @questions.each do |question| %>
      <div class="question">
        <li>
          <%= question.content %><br/>
          Posted by: <%= question.user.name %> at <%= question.created_at.strftime("%I:%M %P on %B %d") %><br/>
          <%= link_to "Answers", question_path(question.id) %>
       </li>
      </div>
      <% end %>
  </ul>
</div>

<p><%= link_to "New Question", new_question_path, id: "question_link", remote: true %></p>

