
<div class="question_header">
  <%= @question.content %><br/>
  Posted by: <%= @question.user.name %> at <%= @question.created_at.strftime("%I:%M %P on %B %d") %>
</div>

<ul>
<div id="answer_list">
  <%= render( @question.answers ) %>
</div>
</ul>

<p><%= link_to "New Answer", new_question_answer_path(@question), id: "answer_link", remote: true %></p>

